<% case opinion
when "positive" %>
  <span class="label label-success">Positive</span>
<% when "neutral" %>
  <span class="label">Neutral</span>
<% when "negative" %>
  <span class="label label-important">Negative</span>
<% end %>